body{
    height: 2000px;
    font-family: MyriadPro-Regular;
    color:#333;
}

section:after{
    clear:both;
    content:".";
    display:block;
    visibility: hidden;
    height:0;
}

.panel{
    box-sizing:border-box;
    width:523px;
    height:750px;
    border:2px solid #000;
    position:absolute;
    right:18px;
    bottom:18px;

}

.panel--front{
    z-index:1;
    background:#ebebeb;
    padding:20px 35px 20px 35px;
}

.panel--middle{
    z-index:2;
    background:#cccccc;
}

.panel--back{
    z-index:3;
    background:#acacac;
    left:36px;
    right:0;
    margin: 0 auto;
    top:0px;
    margin-top:60px;
}

.marker{
    height:35px;
    width:110px;

    position:absolute;
    top:40px;

    border-radius: 0px 10px 10px 0px;
    border: 2px solid #000;
}
.marker--front{
    background:#f68e56;
    right:-80px;
}

.marker--middle{
    background:#39b54a;
    position:absolute;
    right:-50px;
}

.marker--back{
    background:#00aeef;
    position:absolute;
    right:-17px;
}

.share{
    position:fixed;
    text-align:center;
    height:70px;
    width:90px;
    border: 1px solid #000;
    background:#fbaf5d;
    right:0px;
    bottom:150px;

}
.share-icons{
    display:inline;
}

.share-text{
    margin:5px;
    vertical-align: center;

    font-weight:bold;
}


.title{
    font-weight:lighter;
}

.title--primary{
    margin-bottom:7px;
    font-size: 1.55rem;
}
.title--secondary{

    font-size:1.17rem;
}


.article-text{
    font-size:12.4px;
    margin-top:0px;
    margin-bottom:3px
}
.article-text--with-bottom-space{
    margin-bottom:20px;
}


.article-image--left{
    float:left;
    margin-right:20px;
    margin-bottom:10px;
}
.article-image--right{
    margin-top:2px;
    float:right;
}


.examples img:nth-of-type(-n+2){
    margin-bottom: 15px;
}
.examples img:nth-of-type(2n+1){
    float:left;
}
.examples img:nth-of-type(2n){
    float:right;
}


@font-face {
  font-family: MyriadPro-Regular;
  src:url('fonts/MyriadPro-Regular.otf');

}
